body
{
    margin: 0;
    background: black;
    color: white;
}

body > div
{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

header
{
    display: block;
    width: 100vw;
    text-align: center;
    padding: 3vh 1vw;
    background: gray;
}

searchbar
{
    display: block;
    padding: 1vh 0;
}

h1, h2, h3, h4, h5
{
    margin: 1vh;
}

results
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    overflow: scroll;
}

results > span
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

results > span > img
{
    height: 95%;
    object-fit: contain;
}

results > span:hover > img
{
    height: 100%;
    transition: height 0.15s;
}

favoritesbar
{
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 3vh;
    gap: 1vw;
    width: 50vw;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vw;
    background: rgba(240,240,240,0.7);
}

carddetails > div > span:first-child
{
    display: inline-block;
    width: unset;
}

carddetails > div > span
{
    display: inline-block;
    width: 40vw;
}

carddetails span > text
{
    display: block;
}

pagenav div
{
    display: flex;
    width: 100vw;
}

pagenav div > *
{
    display: inline-block;
    flex-grow: 1;
    margin: 1vh 0;
    text-align: center;
}

pagenav button
{
    flex-grow: unset;
}

pagenav #prevbutton
{
    margin-left: 5vw;
}

pagenav #nextbutton
{
    margin-right: 5vw;
}